/************************** CLAIM HISTORY STYLES ***************************/
*{
  font-family: Public Sans;
}

.table-header {
  text-align: left;
  color: #ccc;
  width: 20%;
  border-collapse: collapse;
  font-family: Public Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  }

.table-data {
  padding: 0 0px 30px 0px;
  /* width: 20%; */
  font-family: Public Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  /* line-height: 20px; */
  /* display: flex; */
  align-items: center;
  color: #374151;
}

.page-div {
  background-color: #E5E5E5;
}

/***************************** AVATAR STYLES **************************/
.avatar-nav-section {
  display: flex;
  padding: 0 20px;
  background-color: #fff;
  justify-content: space-between;
}

.avatar-button {
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: right;
    background-color: #fff;
}

.avatarbell {
  color: #ccc;
  margin: 20px;
  font-size: 36px;
}

.avataruser {
  margin: 0 40px 0 0;
  color: #ccc;
  font-size: 36px;
}

.client-profile {
  /* padding: 20px; */
  text-align: left;
  align-items: center;
}
/********************** CUSTOM BAR STYLES SECTION  *******************/

.custom-nav {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.custom-loss-icon {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.custom-icon {
  color: #ccc;
}

.custom-button {
  background-color: #214167;
  padding: 18px;
  margin: 20px;
}

.custom-button-container {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.custom-button-outline {
  background-color: #EBF9FF;
  border: 1px solid orange;
  padding: 18px;
  color: orange;
}

.flex-div {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px 40px;
  justify-content: space-between;
  height: 7em;
  background-color: #EBF9FF;
}

.client-profile {
  /* padding: 20px; */
  text-align: left;
  align-items: center;
}

.client-details {
  font-size: small;
}

.profile-name{
  margin: 0;
  font-family: Public Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  /* align-items: center; */
  color: #214167;
}

.icon-para {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-icon-margin {
  margin: 0 20px 0 0;
}

.icon-style {
  align-items: center;
  font-size: 36px;
  padding: 20px;
  color: skyblue;
}

/***************************** DOWNLOAD NAV BAR **************************/

.download-nav {
  /* width: 100%; */
  margin: 20px 0;
  padding: 10px;
  display: flex;
  text-align: center;
  background-color: #fff;
  justify-content: space-around;
}

.download-button {
  display: flex;
  align-items: center;
  justify-content: right;
}

.download-button-color {
  width: 200px;
  height: 40px;
  background-color: #00B49B;
}

.download-icon-style {
  width: 450px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.download-icons-style {
  color: #ccc;
  font-size: 48px;
} 

/************************** TABLE ONE ************************/

.table-one {
  width: 100%;
  background-color: #fff;
  padding: 20px 40px;
}

.table-two {
  width: 100%;
  background-color: #fff;
  padding: 20px 40px;
}


/******************** SECOND TABLE SECTION ************************/

.table-overall {
  background-color: #fff;
}

.table-link {
  border-collapse: collapse;
  text-align: left;
  padding: 10px;
}

.table-links {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.table-data-color {
  border-collapse: collapse;
  font-weight: medium;
  color: #E48952;
  padding: 0 0px 30px 0px;
  font-size: 12px;
}

.status-data{
  margin: 0;
  padding: 0;
  vertical-align: top;
}


.yellow-button {
  border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #E1A60D;
    font-weight: medium;
    border-radius: 8px;
    padding: 7px 12px;
    font-size: 12px;
    color: #E1A60D;
    margin: 0;
}

.blue-button {
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #3E89E1;
  font-weight: medium;
  border-radius: 8px;
  padding: 10px;
  color: #3E89E1;
}

.success-button {
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #00B49B;
  font-weight: medium;
  border-radius: 8px;
  padding: 10px;
  color: #00B49B;
}

/*************************** PAGINATION SECTION ************************/

.pagination-nav {
  width: 100%;
  padding: 5px;
  display: flex;
  text-align: center;
  background-color: #fff;
  justify-content: space-between;
}

.pagination-item {
  width: 300px;
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;
  font-size: 13px;
  justify-content: left;
}

.pagination-item-color {
  margin: 3px;
  color: grey;
}

.pagination-items {
  margin: 3px;
}

.pagination-button {
  display: flex;
  padding: 40px;
  text-align: center;
  align-items: center;
  justify-content: right;
}

.pagination-button-active {
  margin: 10px;
  color: #E48952;
  border: none;
  padding: 8px;
  background: transparent;
  background-color: pink;
}

.pagination-button-others {
  margin: 10px;
  border: none;
  padding: 10px;
  background: transparent;
}

/*************************** SIDE BAR SECTION **************************/

.side-nav-icons {
  display: flex;
  justify-content: left;
}
.side-icons {
  margin-right: 10px;
  width: 14px;
}
.terms-container {
  display: grid;
  background-color: #fff;
  grid-template-columns: 17% 1fr;
}
ul .grey-text::marker {
  list-style-type: square;
  color: #25a18e;
  font-size: 34px;
}
.terms-nav-content {
  display: flex;
  flex-direction: column;
  /* margin-left: 100px; */
}

.terms-content {
  /* margin: 0 100px; */
  padding: 20px 40px;
  background-color: #f8f8f8;
}

p > b {
  color: #111;
}

.terms-nav-items {
  cursor: pointer;
}
.complaints {
  color: #00509d;
}
@media only screen and (max-width: 800px) {
  .terms-container {
    grid-template-columns: 1fr;
  }
}
.subs {
  font-family: Montserrat;
}

/***************************** MEDIA QUERIES ***************************/

/* If the screen size is 601px wide or more, set the width of <div> to 100%, */
@media screen and (min-width: 601px) {
    
  }
  
  /* If the screen size is 425px OR 375px OR 320px wide or less, set the width of <div> to 100%, */
  @media screen and (max-width: 425px) {
  .table-two {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .table-one {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
}

  @media screen and (max-width: 375px) {
    .table-two {
      display: flex;
      flex-direction: column;
      overflow: scroll;
  }
  .table-one {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
}

@media screen and (max-width: 320px) {
  .table-two {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .table-one {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .pagination-nav {
    width: 100vw;
  }
  .pagination-item {
    width: 50px;
  }
  .pagination-button {
    padding: 0;
  }
  .pagination-button-others {
    padding: 5px;
  }
  .pagination-item-color {
    margin: 0;
  }
  .pagination-items {
    margin: 0;
  }
  
}


@media (min-width: 1024px) {
  .terms-nav-content {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: Public Sans;
    letter-spacing: -0.1px;
    color: #9A9EA7;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    border-right: 1px solid #E4E6E8;
    height: 100%;
    height: 100vh;
    background-color: #fff;
  }

.side-nav-icons {
  font-size: 14px;
  display: flex;
  font-weight: 600;
  justify-content: left;
  /* font-family: Public sans-serif; */
  margin: 5px 0px;
}

.subs {
  font-family: 'Public Sans';
}

.side-icons {
  margin-right: 10px;
  width: 14px;
}
}


.policy-card{
  background: #FFFFFF;
  box-shadow: 0px 12px 24px rgb(196 196 196 / 5%);
  border-radius: 10px;
  padding: 40px;
}

.flex-card-policy{
  display: flex;
  justify-content: space-between;
}

.card-policy{
  display: flex;
}

.policy-card-p{
  font-family: Public Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #2E2C34;
  margin: 5px 0 0 0;
}

.cover-marg{
  margin: 25px 0px;
}

.active-button{
  background: #1BD2A4;
  border-radius: 10px;
  color: #fff;
  border: 0;
  padding: 0px 20px;
  margin-left: 20px;
}

.word-card{
  width: 100%;
  margin-left: 20px;
}

.img-policy-card{
  width: 2em;
  height: 2em;
}

.policy-card-h4{
  font-family: Public Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  margin: 5px 0 0 0;
  /* line-height: 26px; */
  color: #0E1525;
}