
  .about_header{
    padding: 20px 48px;
    font-family: Public Sans;
  }

  .about_header__header{
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    color: #214167;
  }

  .about_header__header ~ p {
    text-align: center;
    font-size: 14px;
    font-weight: inherit;
    color: #1D263A;
  } 

  .about-values{
    margin-top: 0px;
  }

  .aboutheader-para{
    color: #0E1525;
  }

  .play{
    margin: auto;
    width: 11px;
    margin-top: 0px;
    padding: 0 5px;
  }

  .about-img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
    width: 100%
  }

  .about-contain{
    
  }



  .about-section{
    
  }

  .reverse{

  } 

  .cal-section{

  }
  
  .contain-card{

  }

  .let-talk-img{
    display: none;
  }

  .section-img > img{

  }

  .solid-img{
    width: 100%
  }

  .trustees-div{
    display: flex;
    justify-content: space-between;
  }

  .trustees-img > img{
    width: 60px
  }
  

  .paragraph{
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    color: #fff;
  }

  .section{
    padding: 40px;
    font-family: Public Sans;
  }

  .faq-section{
    background-color: #F1FCFF;
    padding: 100px 40px;
    margin-top: 40px;
  }


  .sect{
    padding: 40px;
    font-family: Public Sans;
  }

  .provide_header{
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    line-height: 29px;
  }

  .bold_header{
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    color: #fff;
  }

  .let_talk{
    font-size: 24px;
    font-weight: bold;
  }

  .let_talk__info{
    list-style: outside none none;
    margin: 0;
    padding: 0;
    font-family: Public sans;
    font-size: 15px;
    font-weight: lighter;
  }

  .trusted {
    font-size: 15px;
    text-align: center;
    font-weight: normal;
  }


  .contact__container{
    padding: 0px;
  }

  .visit{
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0;
    text-align: center;
  }

  .accordion_h4{
    font-size: 14px;
    font-weight: 400
  }


  .faq-header{
    color: #293752;
  }

  details{
    border: 1px solid rgba(231, 231, 231, 0.5);
    border-radius: 5px;
    padding: 18px 12px;
    margin: 10px;
    background: #fff;

  }

  .accordion_para{
    font-weight: 300px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    color: #fff
  }

  .accordion_container{

  }

  .newsletter-container{
    padding: 40px 0;
    font-family: Public sans;
  }

  .newsletter-head {
    padding: 0px 40px;
    text-align: center;
    font-size: 19px;
    /* margin: 40px 0 0 0; */
    color: #0E1525;
    font-family: Public Sans;
    font-Weight: 700;
    font-style: normal;
  }

  .newsletter-button{
    border-radius: 0px 0px 5px 0px;
 
  }

  .newsletter-small{
    margin: 8px 0;
    font-size: 10px;
    color: black;
    font-weight: lighter;
    color: #0E1525;
  }

  .newsletter-input{
      border-radius: 5px 0px 0px 5px;
      border: 1px solid #C5CAD3;
      padding: 8px;
      font-size: 10px
  }

  .newsletter-text{
    text-align: center; 
    font-size: 14px;
    padding: 0 60px; 
    color: black;
    line-height: 20px;
    color: #0E1525;
    font-weight: normal
  }

  .jumbotron-text{
    margin: 0; 
    font-weight: normal; 
    font-size: 12px 
  }
  
  .jumbotron-h5{
    font-size:24px;
    font-weight: normal;  
  }

  .jumbotron-h4{
    margin: 0; 
    padding: 13px; 
    color: white; 
    text-decoration: underline
  }

  .jumbotron-para{
    font-size: 12px;
    line-Height: 18px;
  }

  .faq{

  }

  .jumbotron-button{
    font-size: 10px; 
    padding: 10px 12px
  }

  .jumbo_image{
   display: none;
  }

  .under-header{
    padding: 15px 20px;
    color: white;
    font-size: 10px;
    text-align: center;
  }

  .card-wrap{
    text-align: center;
  }

  .insurance{
      font-size: 30px;
      font-weight: bold;
  }

  .insurance-img{
    width: 17rem;
    padding-top: 2em;
  }

  .footer-text{
    color: #BBBCC0;
    font-size: 12px;
    line-height: 15px
  }

  .footer-header{
    color: #BBBCC0;
    margin-bottom: 10px
  }

  .claim-card{
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 60px 80px rgb(0 0 0 / 6%);
    background-color: #fff;
    margin: 0px 15px 25px 15px;
  }

  .claim-paragraph{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .claim-header{
    font-family: Public Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
  }

  .loss-para > div{
    margin: 20px 0px;
  }

  .claim-section{
    padding: 20px 40px;
    font-family: Public Sans;
  }

  .claim-head{
    font-family: Public Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin: auto;
  }

  .footer{
    font-family: Public Sans;
    display: block;
    padding: 40px 40px;
    background-color: #05101D

  }

  .contact-us-details{
    display: block;
    justify-content: space-between;
  }

  .freq-container{
    margin-bottom: 30px;
  }

  .contact-us{
    background-color: #F9FAFB; 
    padding: 40px 20px
  }
 
  .contact__container > h3 {
    text-align: center;
    font-size: 25px;
    margin: 0;
  }

  .contact__container > p {
    text-align: center;
    font-size: 15px;
    margin: 30px 0;
  }

  .frequently{
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  .freq-paragraph{
    color: rgb(14, 21, 37);
    margin: 5px 0px;
    text-align: center;
    font-size: 14px;
  }

  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }

  details[open] {
    background: #29323F;
    outline: 1rem solid var(--bg);
    margin: 0 0 2rem 0;
    color: #fff;
  }

  a{
    color: black;
    text-decoration: none;
  }

  
  .dropdown{
    position: absolute;
    top: 3.5em;
    z-index: 10;
    background: #fff;
    padding: 0px;
    margin: 0;
    box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.06);
    background: #FFFFFF;
    border: 1px solid #E4E7EC;
    box-sizing: border-box;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 4px 6px -2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
  }

  .dropdown-list{
    padding: 0;  
  }

  .dropdown-list > a > li {
    padding: 12px 20px;
  }
  
  .dropdown-list > a >li:hover {
    background-color: #F1F7FD;
  }

  .loss-jumbo-container{
    padding: 20px 20px 0px 20px;
    background:#CDF3FF;
    font-family: 'PUBLIC SANS';
  }

  .reverse-mobile{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }

  .loss-header{
    width: 70%;
    margin: 5px 0px;
    font-family: Public Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1px
  }

  .loss-para{
    color: #202124;
  }

  .loss-head{
    font-family: Public Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
  }

  .select-insurance{
      display: flex;
      justify-content: space-between;
      width: 80%;
      list-style: none;
      text-align: center;
      margin: auto;
      border-bottom: 1px solid #C0C8D2;   
      padding-bottom: 0px;
      margin: 20px auto;
  }

  .select-insurance > li{
    padding: 20px;
  }

  .select-insurance li:active{
    border-bottom: 2px solid orange;
    padding-bottom: 20px;
    color: orange;
    
  }

  .job-loss-img-div{
    width:100%;
  }

  .job-loss-img{  
    left: 0rem;
    width: 20rem;
  }

  .input-container{
    display: flex;
    gap: 10px;
    width: 100%;
  }

  .input-container > input{
    padding: 16px 10px;
    margin: 5px 0;
    border: 1px solid lightgrey;
    border-radius: 9px;
    font-weight: lighter;
    font-size: 12px;
    width: 100%;
  }

  .how-it-work-icon{
    width: 50px;
    padding: 10px 0;
    margin: 0;
  }

  .calculator-div{
    background: #FFFFFF;
    box-shadow: 7.68831px 15px 30px rgb(26 34 56 / 8%);
    border-radius: 20px;
    padding: 20px;
    margin: 0px 0 40px 0px
  }

  .job-loss-card{
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(14, 21, 37, 0.05);
    border-radius: 15px;
    padding: 20px;
    margin: 30px 0px
  }

  .circle-num{
    background: #00B49B;
    border-radius: 50%;
    height: 17px;
    width: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
  }

  .rounded-num{
    width: 10px;
    height: 10px;
    padding: 7px 9px 11px 9px;
    background: #E48952;
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    margin-right: 10px;
    font-weight: bold;
  }

  .align-left{
    text-align: left;
  }

  .align-center{
    text-align: center;
  }

  .small-shield-img{
    width: 25px;
    height: 25px;
    padding: 0px 10px 0 0;
    position: inherit;
    vertical-align: middle;
  }

  input:focus{
    outline: none;
  }

  .woman-img{
    width: 17.5rem;
    width: -webkit-fill-available;
  }

  .claim-button{
    color: #fff;
    border-radius: 8px;
    font-size: 12px;
    width: 100%;
    margin: 20px auto;
    padding: 12px 30px;
    font-weight: 600;
    border: 0 solid transparent;
    background-color: #FF7139;
  }

  @media (min-width: 376px) {
    .jumbotron-button{
      font-size: 12px;
      margin-top: 10px;
      padding: 15px 15px;
    }

    .newsletter-head{
      text-align: center;
      font-size: 25px;
      margin: 0;
      color: black;
    }

    .newsletter-text{
      text-align: center;
      font-size: 12px;
      padding: 7px 70px;
    }

    .about-values{
      font-size: 18px; 
      color: #fff
    }

    .mail{
      padding: 0;
      margin: 0
    }

    .newsletter-input{
      border-radius: 5px 0px 0px 5px;
      border: 1px solid #C5CAD3;
      padding: 11px 15px;
      font-size: 12px;
    }
  }


  @media (min-width: 414px) {
  
    .jumbotron-text{
      font-size: 13px;
    }

    .jumbotron-h4{
      font-size: 20px;
    }

    .jumbotron-h5{
      margin: 20px 0
    }

    .jumbotron-para{
      font-size: 12px;
      line-Height: 25px;
    }

    .jumbotron-h5{
      font-size:27px;
      font-weight: normal;  
    }

    .contact-us-details{
      display: flex;
    }

    .insurance{
      font-size: 30px;
      font-weight: bold;
      padding: 0px 40px;
    }

    .circle-num{
      width: 9px;
    }

    .about-img{
      background-repeat: no-repeat;
      background-size: cover;
      height: 25em;
      width: 100%;
    }
   
    .footer{
        display: block;
        font-family: Public Sans;
        grid-template-columns: 48%, 26% 26%;
        grid-template-rows: 55vh ;
        grid-gap: 3em
    }
  }




@media (min-width: 600px) {

  .about_header__header{
    padding: 0 100px;
  }

  .aboutheader-para{
    color:#05101D;
    padding: 0px 60px; 
  }

  .sect{
    padding: 40px;
  }

  .contact-us-details {
    display: flex;
    padding: 0 40px;
  }

  .about-contain{
    display: flex;
    height: 30rem;
    box-sizing: border-box;
  }

  .reverse{
    flex-direction: row-reverse;
  }

  .add-padding{
    padding-right: 20px;
  }

  .about-section{
    flex: 50% !important;
    box-sizing: border-box;
  }

  .about-img{
    height: 100%;
  }

  .claim-img{
    left: 0rem;
    width: 20rem;
    margin: 90px 0 0 0;
  }

  .correct{
    width: 100%;
  }

  .loss-jare{
    padding: 20px;
  }

  .reverse-mobile{
    display: flex !important;
    flex-direction: initial;
  }

  .insurance-img  {
    width: 16rem;
    height: 20rem;
    padding-top: 2em;
  }

  .flex-out{
    flex: 1 1 0;
    margin: auto;
  }

  .jumbotron-h5{
    font-size: 33px;
    font-weight: normal;
  }

  .jumbotron-para{
    font-size: 15px;
    line-Height: 30px;
  }

  .job-section{
    gap: 20px;
  }

  .break{
    display: none;
  }

  .calculator-div{
    flex: 1 1 0;
  }

  .claim-card-container{
    display: flex;
    padding: 0 40px;
    gap: 20px;
  }

  .claim-card-container > div {
    flex: 1 1;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
  }

  .section-img{
    display: flex;
  }

  .claim-header {
    text-align: left;
    font-size: 22px;
    padding: 0 0 40px 0;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 26px;
  }

  .margin-600{
    margin: 60px 0px;
  }

  .claim-head{
    text-align: left;
  }

  .claim-feature{
    flex: 1 1;
  }

  .claim-section{
    padding: 0;
  }

  .claim-card{
    flex: 50vw;
    margin: 0px;
  }

  .claim-card > h4 {
    margin: 0;
  }

  .cal-section{
    display: flex;
    gap: 40px;
  }

  .loss-para{
    font-size: 12px;
  }

  .added-gap{
    gap: 80px;
    margin: 0;
  }

  .align-center{
    text-align: center;
  }

  .align-left{
    text-align: left;
  }

  .loss-jumbo-container{
    display: flex;
  }

  .claim-paragraph{
    text-align: left;
  }

  .woman-img-div{
    margin: auto;
  }

  .woman-img{
    width: 14.5rem;
  }

  .resize-600{
    width: 16rem;
    height: 25em;
    margin: auto;
  }

  .pad-600{
    padding: 0;
  }

  .let-talk-img{
    display: block;
    background-size: cover;
    background-position: center;
  }

  .img{
    border-radius: 12px;
  }

  .footer{
    display: grid;
    grid-template-rows: 18vh;
    padding: 40px 26px;
    grid-gap: 2.8em;
  }

  .newsletter-text{
    padding: 7px 180px;
    line-height: 22px;
  }

  .contact__container > p{
    padding: 0 30px;
  }
  

  .footer{
    display: block;
  }
}

  
@media (min-width: 768px) {

  .about_header__header{
    padding: 0 128px;
  }

  .about_header__header ~ p{
    padding: 0 60px;
    font-size: 13px;
  }

  .jumbotron-para{
    padding: 20px 0
  }

  .trustees-img > img {
    width: 100px;
  }

  .contact-us-details{
    display: flex;
    justify-content: space-around;
  }

  .trusted {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
  }

  .add-padding{
    padding-right: 110px;
  }

  .claim-card-container {
    display: flex;
    padding: 40px;
    grid-gap: 20px;
    gap: 20px;
  }

  .loss-jumbo-container{
    display: flex;
    padding: 40px 40px 0px 40px;
  }

  .cal-section{
    display: flex;
    grid-gap: 80px;
    padding: 80px 40px 0px 40px;
    gap: 80px;
  }

  .input-container{

  }

  .claim-card-container > div {
    padding: 20px;
  }

  .loss-para{
    font-size: 15px;
  }

  .woman-img-div{
    margin: auto;
  }

  .approve-img-div{
    margin: auto;
  }

  .calculator-div{
    background: #FFFFFF;
    box-shadow: 7.68831px 15px 30px rgb(26 34 56 / 8%);
    border-radius: 20px;
    padding: 20px;
    margin: 0px 0 40px 0px;
    flex-basis: 150%;
    flex-grow: 0;
  }

  .circle-num{
    width: 8px;
  }
  
  .job-section{
    display: flex;
    grid-gap: 80px;
    padding: 0;
    gap: 80px;
  }

  .woman-img{
    width: 18.5rem;
  }

  .contact__container > p{
    padding: 0 100px;
  }

  .navbar_logo-container{
    display: block;
  }

  .footer{
    display: flex;
    padding: 60px 60px;
  }

  .footer-bundle{
    flex: 1 1 0px;
  }
}





@media (min-width: 1024px) {

  .about_header__header{
    padding: 0px 200px;
  }

  .about_header__header ~ p{
    padding: 0 200px;
    font-size: 13px;
  }

  .about-contain{
    height: 25rem;
  }

  .navbar_logo-container{
    display: block !important;
    padding: 0;
    margin-left: -60px;
  }


  .jumbo_image{
    display: block;
    margin: auto;
    justify-content: center;
    position: absolute;
    bottom: -5px;
  }

  .contact__container > p {
    padding: 0 300px;
  }

  .jumbo_image > img {
    width: 300px;
  }

  .loss-jumbo-container{
    padding: 40px 80px 0px 80px;
    gap: 100px;
    /* background-image: url('/src/assets/icons/Mask\ Group.png');
    height: 30rem; */
  }


  .trusted {
    font-size: 36px;
    text-align: center;
    font-weight: normal;
  }


  .loss-jare{
    padding-bottom: 40px;
  }

  .job-loss-img-div{
    flex: 1 1 0;
  }

  .claim-img{
    width: 30rem;
    height: 23rem;
  }

  .job-loss-img{
    width: 30rem;
  }

  .job-loss-card{
    width: 25rem;
  }

  .job-section > div {
    margin-top: 20px;
  }

  .calculator-div{
    flex-basis: 100%;
  }

  .job-section{
    padding: 40px 80px;
  }

  .cal-section{
    padding: 80px 80px 0px 80px;
    gap: 100px;
  }

  .claim-make{
    flex: 1 1 0;
  }

  .insurance-img{
    width: 25rem;
    height: auto;
  }

  .approve-img-div{
    flex: 1 1 0;
    text-align: right;
    margin: unset;
  }

  .claim-button{
    width: 100%;
    padding: 15px;
    font-size: 14px;
  }

  .reset{
    width: 60%
  }

  .flex-out{
    flex: 1 1 0;
    margin: auto;
  }

  .trustees-div {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
}

  .section-img{
    display: flex;
    padding: 0 80px;
    justify-content: center;
  }
  
  .img{
    width: 20rem;
    justify-content: center;
  }

  .jumbotron-h5{
    font-size: 55px;
    font-weight: 400;
    width: 70%;
    line-height: 60px;
    margin: 0px
  }

  .let-talk-img{
    width: 10rem;
    justify-content: right;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  .let-talk-img ~ .paragraph{
    word-break: break-word ;
  }

  .jumbotron-para{
    width: 70%;
    margin: 0px;
  }

  .jumbotron-text{
    font-size: 15px;
  }

  .jumbotron-h4{
    font-weight: 700;
    font-size: 40px;
  }

  .jumbotron-button{
    padding: 12px;
    margin: 0px;
  }

  .under-header{
    font-size: 12px;
  }

  .calculator-div{
    flex-basis: 100%;
    /* margin: auto; */
    width: 20rem; 
  }
  

  .card-wrap{
    text-align: left;
    margin: 0 30px;
  }

  .insurance{
    font-size: 40px;
    /* font-size: x-large; */
    font-weight: bold;
  }

  .job-section{
    display: flex;
    grid-gap: 80px;
    padding: 0 40px;
    grid-gap: 98px;
    gap: 50px;
  }

  .loss-jumbo-container > div {
    margin: auto;
  }
  
  .loss-header{
    font-size: 68px;
    letter-spacing: 2px;
    line-height: 70px;
    width: 100%;
  }

  .loss-para{
    width: 100%;
    padding-bottom: 20px;
  }

  .margin-600{
    padding: 80px 40px;
  }

  .claim-make > .div{
    margin: 20px 0;
  }

  .woman-img{
    width: 22.5rem;
  }

  .newsletter-head{
    font-size: 30px;
    font-family: 'Public Sans';
    font-weight: 700;
    margin: 60px 0px 0px 0px;
  }

  .newsletter-text{
    padding: 7px 35%;
    line-height: 22px;
  }

  .contact__container ~ h3{
    font-size: 33px;
  }

  .claim-section{
    font-family: "Public sans";
    padding: 40px 0px;
  }

  .claim-header{
    letter-spacing: 1px;
    font-size: 48px;
    line-height: 58px;
    /* margin-top: 2em; */
  }

  .claim-card-container{
    padding: 40px 80px;
    gap: 40px;
  }

  .claim-card-container > div {
    gap: 80px;
    padding: 40px;
  }

  .claim-card{
    margin: 0 40px;
  }

  .faq{
    width: 40rem;
    margin: auto;
  }

  .padless{
    padding: 0;
  }

  .increase-1024{
    width: 23rem;
    height: auto;
    text-align: right;
  }

  .frequently{
    font-size: 48px;
    padding-bottom: 18px;
  }

  .hassle-free{
    padding: 60px 0px 0px 0px;
  }

  .newsletter-container{
    padding: 0 0 60px;
  }

  .contain-card{
    padding: 0;
  }

  .footer{
    display: flex;
    padding: 60px 60px;
  }

  .footer-text{
    line-height: 20px;
  }

  .footer-bundle{
    flex: 1 1 0px;
  }
}


@media (min-width: 1300px) {
  .about_header__header {
    padding: 0px 300px;
  }

  .about_header__header ~ p {
    padding: 0 320px;
    font-size: 13px;
  }

  .about_header__header ~ p{
    padding: 0 300px;
    font-size: 14px;
  }

  .job-loss-img{
    display: none;
  }

  .loss-jumbo-container{
    padding: 40px 80px 0px 80px;
    gap: 100px;
    background-image: url('/src/assets/icons/Mask\ Group.png');
    height: 30rem;
  }

  .jobloss-bcg{
    background-image: url('/src/assets/icons/Mask Group(copy).png');
  }

  .travel-bcg{
    background-image: url('/src/assets/icons/Mask Group(copy 1).png');
  }

  .claim-bcg{
    background-image: url('/src/assets/icons/Mask Group(copy 2).png');
  }

  .one-of-equal{
    position: relative;
    top: -2em;
  }

  .loss-jumbo-container > div {
    flex: 1 1 0
  }


  .calculator-div{
    width: 24rem;
  }

  .padless{
    margin: auto;
  }

  .increase-1024 {
    width: 28rem;
    height: 28rem;
    text-align: right;
  }

  .solid-img {
    width: 80%;
    margin: 0 10%;
  }

  .about-contain {
    height: 30rem;
    margin: auto;
  }

  .added-pad{
    padding: 80px
  }

  .about-values{
    font-size: 30px; 
    color: #fff
  }

  .provide_header {
    font-size: 30px;
  }

}

  @-moz-document url-prefix() { 
    .jumbo_image {
       left: 38%;
    }
  
}